/* Style sheet for Ready Wisconsin web portal */

body{
    background: #a21219;
    background: linear-gradient(#a21219, #662225);
}

/* div that holds main content; also sets background color and position of the content */
#wrapper{
	margin-left:auto;
	margin-right:auto;
	width: 960px;
	background: #e8eced;
}

/* styles the navigation and removes bullet points from the unordered list */
nav{
    background: #b3b3b3;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
}

/* styles the links and sets what to do for the hover in the nav */
a{
    text-decoration: none;
}

nav a:hover{
    color: #FFFFFF;
    background: #cdcdcd;
}

/* styles the first header */
h1{
	clear: both; /* gets rid of the float for left and right */
	color: #1f4a80;
}
